body {
    background-color: #89cff0;
}
input[name="username"]{
    font-size: 20px;
    width: 40%;
    height: 30px;
    margin-top: 5px;
    margin-left: 30%;
    border-radius: 8px;
}
input[name="submit"]{
    font-size: 20px;
    width: 15%;
    height: 25px;
    margin-top: 20px;
    margin-left: 42.5%;
    border-radius: 8px;
}
label{
    color: purple;
    display: block;
    width: 20%;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
}
p{
    font-size: 20px;
}