body{
    margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
    border: 3px solid black;
    padding: 3%;
    width: 25%;
    text-align: center;
	background-color: #727272;
}

input{
    width: 60%;
    padding: 2% 7%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h1{
	text-align: center;
}

input.link{
    width: 40%;
    padding: 1% 5%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;	
}

button:hover{
	opacity: 0.8;
}

button{
    background-color: gray;
    color: black;
    padding: 2% 7%;
    margin: 2%;
    border: 1px solid black;
	width: 60%;
}