label{
  color: purple;
  font-size: 25px;
  margin-left: 23%;
  margin-top: 20px
}
input[type="text"] {
  font-size: 20px;
  width: 40%;
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  position: static;
  border-radius: 8px;
}
input[type="submit"] {
  font-size: 25px;
  margin-left: 45%;
}
p {
  margin-left: 30px;
  margin-right: 30px;
}
